@CHARSET "UTF-8";
*{
    margin: 0; /* 外边距*/
    padding: 0;	
    font-family: "Lantinghei SC","Microsoft Yahei",瀹嬩綋,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
}

li,ul,img,a,div,form{
    border: 0;/* 边框*/
    list-style: none;
}

div{
    display: block;	/* 块元素*/
}
form{
    display: block;	/* 块元素*/
}
a{
    color: #000000;
    text-decoration: none; /* 下划线*/
    outline: none;
}

em{
    font-weight: normal;
}

body
{
 background-image:url(../images/bg1.jpg);
 background-attachment:fixed;
 background-repeat:no-repeat;
}

/* --------导航栏----------- */
.ue-bar{
  /* 
   background-color: #3C3E4D;
*/
background: hsla(0,0%,100%,.05);
}

.ue-bar-warp{
    width: 1020px;
    height: 70px;
    margin: 0 auto; /* 外边距*/
    overflow: hidden; /* */
    position: relative; /* 相对布局*/
}

.ue-bar-logo{
    width: 134px;
    height: 50px;
    float: left;
    padding-right: 10px;
    padding-top: 2px;
}

.ue-bar-logo a{
    display: inline-block; /* 行内块元素*/
    width: 100%;
    height: 100%;
    margin-top: 12px; 
}

.ue-bar-nav{
    height: 70px;
    float: left;
    margin-left: 30px;
}

.ue-bar-nav li{
    height: 70px;
    float: left;
    margin-right: 20px;
}

.ue-bar-nav li *{
    
    font-size: 14px;
    display: inline-block;
    line-height: 17px;
    vertical-align: top; 
}

.ue-bar-nav li a{
	color:#c4c4c4;
    height: 22px;
    line-height: 22px;
    padding: 26px 17px;
}

.ue-bar-nav li.active{
    background: hsla(0,0%,100%,.1);
}

.ue-bar-nav li a:hover{
	color:#ffffff;
    background: hsla(0,0%,100%,.1);
}
.ue-bar-nav li a.active{
   color:#ffffff;
}

/* --------个人资料管理---------*/

#hd_nav{
	padding-top: 25px;
    float: right;
}
ul{
    list-style: none;
}

#hd_nav li{
   /* border-right: 1px solid rgba(255,255,255,0.2); 右侧边框*/
    float: left;
    height: 14px;
    padding: 0 10px;
}

a{
    text-decoration: none;
    cursor: auto;
}

#hd_nav .skin a{
    padding-left: 22px;
    position: relative;
}

#hd_nav a{
    color: #fff;
    height: 14px;
    line-height: 14px;
}

#hd_nav li .ico{
    background: url("http://p7.qhimg.com/d/inn/774669ac/t01bc32feb0bbb5c4e0.png") no-repeat;
    left: 0;
    position: absolute;
}

#hd_nav .skin .ico{
    background-position: 0 -270px;
    height: 15px;
    top: -1px;
    width: 16px;
}

a:hover{
    text-decoration: underline;
}

.login{
    padding-left: 41px;
    position: relative;
}

.avatar{
    border-radius: 18px;
    box-shadow: 0 1px 5px rgba(87,87,87,0.5);
    height: 20px;
    left: 10px;
    position: absolute;
    top: -2px;
    width: 20px;
}
.a1{
    margin-left: 30px;
}

.a2{
    margin-left: 5px;
}


/*  ------- banner of index ------ */ 
.banner-info {
  text-align: center;
  margin-top: 14em;
  
}
.banner-info .time {
  color: #ffffff;
  font-size: 2.0em;
}
.banner-info h2 {
  color: #ffffff;
  font-size: 3.5em;
}
.banner-info p {
  color:#F3F2F2;
  margin: 1em 0;
  font-size: 1.8em;
}
.banner-info a
{
	
   margin-left: auto;
　　margin-right: auto;
	font-size: 1.8em;
}

/* button 
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* gray */
.gray {
	color: #ffffff;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* ---------form------------


.form{
	margin: auto auto;
  	margin-top: 10em;
  	padding :15px; 
  	width: 250px;
	height: 300px;
	background: hsla(0,0%,100%,.3);
	border-radius: 10px;
}

.form center{
	color: #ffffff;
  font-size: 3.5em;
}

.form label{
	float: right;
	width: 80px;
	line-height:25px;
	margin-right:15px;
} 

.form label h2{
	color: #ffffff;
	font-size: 2.0em;
	float:right;
	padding:0;
	margin:0;
	list-style-type:none;
}
.form input{
	height: 23px;
	float:right;
	padding:0;
	margin:0;
	list-style-type:none;
}
.form .button{
	height: 43px;
	width:100px;
	margin-right:15px;
}
.form .text{
	border-radius: 5px;
	margin-right:15px;
}
.form a{
	float: left;
	width: 80px;
	margin-top:15px;
	margin-left:15px;
	line-height:25px;
	font-size: 1.1em;
} 
.form br{
	clear: left;
}
*/
.tab-container h3{ /* Effects only the h3 headings inside the tabs */
	font-size:147%;
	color:#0000ff;
}
/* `Containers
----------------------------------------------------------------------------------------------------*/

#container{ /* Use this to position the entire tab module */
	margin:auto auto; 
	width:1000px; 
	margin-top:4%;
}

.tab-container {
	position: relative; /* It's important to keep this position relative and the absolute positions in this file the same */
	width: 100%; 
	z-index:0;
}

/* `Common Styles
----------------------------------------------------------------------------------------------------*/

/* Tabs */

.tab-container > div { 
	display: inline; 
}
.tab-container .title {
    margin: 0 0 15px 0;
    padding-bottom: 5px;
    font-size: 24px;
    letter-spacing: -1px;
    border-bottom: 2px solid #eee;
    line-height: 1em;
    font-weight: normal;
    color: #ffffff;
}

.tab-container .title p {
	-webkit-margin-start: 5px;
	-webkit-margin-after: 0em;
	height: 32px;
	font-size: 30px;
    margin-bottom: 0;
}
.tab-container > div > a {
	width: 360px;
	height: 50px;
	position: relative !important; /* Keeps the tabs in line with each other */
	text-decoration: none; 
	color: #191717; 
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size:15px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	margin:4px;
	background: #f9f9f9;
	border: 1px solid #c4c6ca;
	padding: 4px 14px;
	border-radius: 5px;
    
	box-shadow: 0 4px 10px -5px #000000;
}

.tab-container h {
	width: 360px;
	height: 50px;
	position: relative !important; /* Keeps the tabs in line with each other */
	text-decoration: none; 
	
	display: block;
	color: #808080; 
	font-size:15px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	margin:4px;
	background: #f9f9f9;
	border: 1px solid #c4c6ca;
	padding: 4px 14px;
	border-radius: 5px;
    text-shadow: 0 -1px 0 #000000;
	box-shadow: 0 4px 10px -5px #000000;
}

.tab-container > div:not(:target) > a {
}	

.tab-container > div:target > a { 
    background: none repeat scroll 0 0 #B1DFEC;
    text-shadow: 0 1px 0 #4C4648;
}	

.tab-container > div > div { /* This is the container which holds the tab content */
	background: #f9f9f9;
	border: 1px solid #c4c6ca;
	padding: 4px 14px;
	border-radius: 5px;
    /*text-shadow: 0 -1px 0 #000000;*/
	box-shadow: 0 4px 10px -5px #000000;
	
	color: #808080; 
	font-size:12px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	z-index: -2;
	top: 3em;
	left: 400px;
	right: 0px;
	padding: 20px;
	min-height:250px; /* Change this value if you need more or less content space */
	position:absolute; /* Fixes IE 7 & 8 */
}

.tab-container > div:not(:target) > div { 
	position: absolute; /* This keeps the tab module contained */
}

.tab-container > div:target > div { 
	position: absolute; 
	z-index: 3 !important; /* Brings the content to the front depending on the tab that was clicked */ 
}

div.tab-content{ /* Styles the inner content of the tabs */
	float:right;
	padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px; 
}
	
.tab-content img{ 
	margin:0 auto; 
	display:block; 
	padding-bottom: 20px;
    padding-top: 10px;
}