<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Webupdate</display-name>
 
  <!-- LISTENER FOR THREAD -->  
	<servlet>  
	    <servlet-name>InitListener</servlet-name>  
	    <servlet-class>com.updater.service.InitListener</servlet-class>  
	    <load-on-startup>2</load-on-startup><!-- 数字越小，启动的优先级越高，必须大于0 -->  
	</servlet>  
	<servlet-mapping>    
	        <servlet-name>InitListener</servlet-name>    
	        <url-pattern>/test</url-pattern>     
	</servlet-mapping>
  
  <welcome-file-list>
   <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
   <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
           org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
       </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>